page-main {
    .imgBox{
        display:flex;
        position: relative;
        width: 100%;
        height: 300px;
        //border: 1px solid red;
        
        .leftBtn{
            position: absolute;
            top: 135px;
            left: 10px;
            width: 30px;
            height: 30px;
            border: 1px solid blue;
         }
         .rightBtn{
             position: absolute;
             top: 135px;
             right: 10px;
             width: 30px;
             height: 30px;
             border: 1px solid blue;
         }
    }
}
