<ion-header>  
  <ion-navbar>
    <ion-title>main</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (ionScroll)="scrollEvent($event)">
  <!-- <h3>main 페이지 입니다.</h3>
  <button ion-button type="button" (click)="testLoginCheck()">테스트 로그인 체크</button>
  <br>
  <button ion-button (click)="sessionTest1()">세션값 테스트1</button>
  <button ion-button (click)="sessionTest2()">세션값 테스트2</button>
  <hr> -->
  <!-- card 사용 예정 -->
  <ion-card *ngFor="let item of list; let i = index">
    <ion-item>
      <ion-avatar item-start>
        <span *ngIf="item.thumbnail != null">
            <img src="{{this.serviceProvider.data.host}}upload/{{item.thumbnail}}" alt="썸네일">
        </span>
        <span *ngIf="item.thumbnail == null">
            <img src="{{this.serviceProvider.data.host}}upload/{{this.serviceProvider.data.thumnail}}" alt="썸네일">
        </span>
      </ion-avatar>
      <h2>{{item.writer}}</h2>
      <p>{{item.regdate}}</p>
    </ion-item>
    <ion-slides pager class="imgBox">
      <ion-slide *ngFor="let img of item.imgs">
        <img src="{{this.serviceProvider.data.host}}upload/{{img}}" alt="">
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <p>{{item.content}}</p>
      <hr>
      <span *ngFor="let tag of item.tags">#{{tag}}&nbsp;</span>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="likeBtn(item.board_num, i)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{item.count_like}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="commentBtn(i)">
          <ion-icon name="text"></ion-icon>
          <div>{{item.count_comment}} Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          <!-- 11h ago -->
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
