page-content {
    .imgCard{
        height:100px;
        
        position: relative;
        z-index: 0;
        text-align: center;
        .photo{
            position: relative;
            transform:translateY(-50%);
            z-index: 0;
        }
        .title{
            position: absolute;
            width:100%;
            height: 100%;
            top:50%;
            z-index: 1;
            h2{
                color:white;
            }
        }
    }
    .head{
        position: relative;
        height:80px;
        z-index: 0;
        .small-text{
            position: relative;
            font-size: 0.8em;
            z-index:1;
        }
        .small-icon{
            position: absolute;
            display:block;
            top:30%;
            right:20px;
            width:100%;
            height:100%;
            text-align: right;
            z-index:2;
            font-size: 2em;
        }
        .followed{
            color:red;
        }
    }
    
}
